@model POS_Coffe.Models.ReceiptModel
@{
    ViewBag.Title = "GetDetail";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="~/Content/Table/Table.css" rel="stylesheet" />

<div class="card">
    <div class="card-block">
        <table class="styled-table">
            <thead>
                <tr>
                    @*<th>Phone</th>
                    <th>Point</th>*@
                    <th>Original price</th>
                    <th>Discount Price</th>
                    <th>Total price</th>
                    <th>Type Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<td>@Model.customer.phone</td>
                    <td>@Model.customer.point</td>*@
                    <td>@Model.originalPrice</td>
                    <td>@Model.DiscountPrice</td>
                    <td>@Model.totalPrice</td>
                    <td>@Model.PaymentType</td>

                </tr>
            </tbody>
        </table>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Note</th>
                    <th>Size</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model.receiptDetails)
                    {
                        <td>@item.amount</td>
                        <td>@item.price</td>
                        <td>@item.note</td>
                        <td>@item.drinkCakeVariation.name</td>
                        <td>@item.drinkCakeVariation.description</td>
                        <td>@item.drinkCakeVariation.price</td>
                    }


                </tr>
            </tbody>
        </table>
    </div>
</div>
