@model PagedList<POS_Coffe.Models.FoodModel>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "FoodManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int i = 1;
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("FoodManagement", "FoodManagement", FormMethod.Get))
        {
            <div class="form-check-label">

                <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
                <button type="submit" value="Search" class="form-check-input search-btn fa fa-search fa fa-search"></button>
                <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()" />
            </div>
        }
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead class="header-style">
                        <tr>
                            <th></th>
  
                            <th>@Html.ActionLink("Tên", "FoodManagement", new { sortOrder = ViewBag.NameSortParm })</th>
                            <th>@Html.ActionLink("Giá", "FoodManagement", new { sortOrder = ViewBag.PriceSortParm })</th>

                            @*<th>Hình</th>*@
                            <th>Loại</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="items-style">
                                @*<th>@i</th>*@

                                <td style="text-align:center ;width:80px; padding-left:20px; padding-right:0px">
                                    <img src=@item.FoodImage alt="profile photo" border-style="10px" class="circle float-left profile-photo" width="60" height="60">
                                </td>
                                <td>@item.FoodName</td>
                                <td>@item.FoodPrice</td>

                                <td>@item.FoodType</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-primary fa fa-sticky-note" onclick='window.location.href = "@Url.Action("Details", "FoodManagement", new {FoodID = item.FoodID })"'> </button>
                                    <button type="button" class="btn btn-primary fa fa-edit " onclick='window.location.href = "@Url.Action("EditFood", "FoodManagement", new {FoodID = item.FoodID })"'></button>
                                    <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.FoodID))" class="btn btn-danger fa fa-remove" />
                                </td>
                            

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("FoodManagement", new { pageNo = pageNo }))
            </div>
        </div>
    </div>

</div>

@*<div class="panel-group" id="accordition">
        @foreach (var item in Model)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordition" href="#@item.FoodID">
                                    @item.Name
                                </a>
                            </h4>
                        </div>
                        <div id="@item.FoodID" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @item.Type
                            </div>
                        </div>
                    </div>
                }
    </div>*@



<script>
    function AddNew() {
        console.log()
        window.location.href = "/FoodManagement/AddFood"
    }
    function btnConfirm(FoodID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteFood", "FoodManagement")?FoodID=' + FoodID;
            window.location.href = url;
        }
    }

</script>


