@model PagedList<POS_Coffe.Models.AllFood>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "FoodManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int counting = 1;
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }
</style>


<div class="row">
    <div class="column">
        @using (Html.BeginForm("FoodManagement", "FoodManagement", FormMethod.Get))
        {
            <div class="form-check-label">

                <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
                <button type="submit" value="Search" class="form-check-input search-btn fa fa-search fa fa-search"></button>
                <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()" />
            </div>
        }
        <div class="card">
            <div class="card-block">
                <ul id="nav">
                    <li>
                        <a href="#">Menu4</a>
                        <a href="#">Menu4</a>
                        <a href="#">Menu4</a>
                    </li>
                </ul>
                @foreach (var item in Model)
                {
                    <ul id="nav">
                        <li>
                            <img src=@item.FoodImage alt="profile photo" border-style="10px" class="circle profile-photo" width="60" height="60">
                            <a>@item.FoodName</a>
                            <a>@item.FoodPrice</a>
                            <a>@item.FoodType</a>

                            @foreach (var Material in item.LstFoods)
                            {
                                <ul id="nav">
                                    <li>
                                        <a href="#">@Material.MaterialName</a>
                                        <a>@Material.Type</a>
                                        <a>@Material.Amount</a>
                                        <a href="#">@Material.Quantity</a>
                                    </li>
                                </ul>

                            }
                        </li>
                    </ul>
                }

            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("FoodManagement", new { pageNo = pageNo }))
            </div>
        </div>
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/FoodManagement/AddFood"
    }
    function btnConfirm(FoodID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteFood", "FoodManagement")?FoodID=' + FoodID;
            window.location.href = url;
        }
    }

    function changeStatus(counting) {
        if (document.getElementById(counting).style.display == "none") {
            document.getElementById(counting).style.display = "block";
        }
        else if (document.getElementById(counting).style.display == "block") {
            document.getElementById(counting).style.display = "none";
        }
    }
</script>


