@model POS_Coffe.Models.VoucherModel
@{
    ViewBag.Title = "AddFood";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Add Voucher</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("AddVoucher", "VoucherManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Name">Name</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Value">Value</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Value, new { @type = "date", htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="StrIDFood">IDFood</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("StrIDFood", (IEnumerable<SelectListItem>)ViewBag.StrIDFood, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StrIDFood, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <input class="button-primary" type="submit" value="Send" name="btnSaveChange" id="btnSaveChange" />
                    @*<input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Add" />*@
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                    <h5 name="error" id="error" style="display:none; color:red">@ViewBag.Error</h5>
                }
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<script charset="UTF-8">
    function GoBack() {
        window.location.href = "/VoucherManagement/VoucherManagement"
    }

    $('#btnSaveChange').click(function () {
        var value = $('#StrIDFood').val();
        var IDFood = $('#Value').val();

        //if (value != 0 && IDFood != "--none--") {
        //    document.getElementById("error").style.display = "block"
        //    return false;
        //}
        //if ($('#Value').val() < 0 || $('#Value').val() > 100) {
        //    document.getElementById("error").style.display = "block"
        //    return false;
        //}
    })

    $('#StrIDFood').click(function () {
        document.getElementById("error").style.display = "none"
    })

    $('#Value').click(function () {
        document.getElementById("error").style.display = "none"
    })


    //$(function () {
    //    $("#Birthday").datepicker({
    //        dateFormat: "mm/dd/yy"
    //    });
    //});

    //$(document).ready(function () {
    //    $(function () {
    //        $('#btnSaveChange').click(function () {
    //            var StrIDFood = $('#StrIDFood').text();


    //            var data = {
    //                StrIDFood: StrIDFood,
    //            }
    //            $.ajax({
    //                type: "POST",
    //                url: "/VoucherManagement/AddVoucher",
    //                data: data,
    //                success: function (data) {
    //                    //GoBack();
    //                    alert('Success!')
    //                    location.reload();
    //                },
    //                error: function () {
    //                    alert('Fail!')
    //                }
    //            })
    //        });
    //    });
    //});

</script>

