@model POS_Coffe.Models.VoucherModel
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Update Voucher</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("EditVoucher", "VoucherManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(s => s.VoucherID)
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Name">Name</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Value">Value</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="StrIDFood">IDFood</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("StrIDFood", (IEnumerable<SelectListItem>)ViewBag.StrIDFood, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StrIDFood, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="isValue">isValue</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.isValue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.isValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <input class="button-primary" type="submit" value="Send">
                    @*<input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Add" />*@
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                }
            </div>
        </div>
    </div>
</div>

<script>
    function GoBack() {
        window.location.href = "/VoucherManagement/VoucherManagement"
    }
                //$(function () {
                //    $("#TuNgayStr").datepicker({
                //        dateFormat: "dd/mm/yy"
                //    });
                //    $("#DenNgayStr").datepicker({
                //        dateFormat: "dd/mm/yy"
                //    });
                //});

/*                $('.select2').select2({ width: '100%' },"val", null)*/

                @*<!--$(document).ready(function () {
                    $(function () {
                        $('#btnSave').click(function () {
                            var dataGuidi = {-->
                                EmployeeID: @Model.EmployeeID,
                                <!--Name: $('#Name').val(),
                                Username: $('#Username').val(),
                                Permission: $('#Permission').val(),
                                Birthday: $('#Birthday').val(),
                                Phone: $('#Phone').val(),
                            };
                            $.ajax({
                                type: "POST",
                                url: "/Employee/EditEmployee",
                                data: dataGuidi,
                                success: function (dataGuidi) {
                                    alert('OK!');
                                    Redirect();
                                },
                                error: function () {
                                    alert('Fail!');
                                }
                            })
                        });
                    });
                });-->*@

                //function Redirect() {
                //    window.location.href = "/NhapDuAn/XemDuAn"
                //}
</script>