@model List<POS_Coffe.Models.VoucherModel>
@{
    ViewBag.Title = "FoodManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("VoucherManagement", "VoucherManagement", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
    <div class="form-check-label">
            <a href="#" class="form-check-input search-btn fa fa-search"></a>
            <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
            <input type="submit" value="Search" />
        <input type="button" class="form-check-input btn btn-gradient-success" value="Add new" onclick="AddNew()" />
    </div>

        @*<input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />*@
        }
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Value</td>
                                @*<td>
                                    <button type="button" class="btn btn-primary " onclick='window.location.href = "@Url.Action("EditFood", "FoodManagement", new {VoucherID = item.VoucherID })"'>  Edit </button>
                                    <input type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.VoucherID))" class="btn btn-danger" value="  Delete  " />
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/VoucherManagement/AddVoucher"
    }
    function btnConfirm(VoucherID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteVoucher", "VoucherManagement")?VoucherID=' + VoucherID;
            window.location.href = url;
        }
    }

</script>


