@model List<POS_Coffe.Models.VoucherModel>
@{
    ViewBag.Title = "FoodManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("VoucherManagement", "VoucherManagement", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
    <div class="column column-40 col-search">
        <a href="#" class="search-btn fa fa-search"></a>
        <input type="text" name="" value="" placeholder="Search..." />
    </div>
    <a class="button" href="#">Search</a>
    <input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />
}
        <div class="card">
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.VoucherID</td>
                                <td>@item.Name</td>
                                <td>@item.Value</td>
                                <td>@item.IDFood</td>
                                <td>
                                    <button type="button" class="btn btn-primary " onclick='window.location.href = "@Url.Action("EditFood", "FoodManagement", new {VoucherID = item.VoucherID })"'>  Edit </button>
                                    <input type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.VoucherID))" class="btn btn-danger" value="  Delete  " />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/VoucherManagement/AddVoucher"
    }
    function btnConfirm(VoucherID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteVoucher", "VoucherManagement")?VoucherID=' + VoucherID;
            window.location.href = url;
        }
    }

</script>


