@model PagedList<POS_Coffe.Models.VoucherModel>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FoodManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int i = 1;
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("VoucherManagement", "VoucherManagement", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
    <div class="form-check-label">

        <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
        <button type="submit" class="form-check-input search-btn fa fa-search"></button>
        <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()"></button>
    </div>

    @*<input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />*@
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            
                            @*<th>Valid</th>*@
                            <th>Name</th>
                            <th>@Html.ActionLink("Value", "VoucherManagement", new { sortOrder = ViewBag.ValueSortParm })</th>
                            @*<th>IDFood</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                @*<td>
                                    @if (item.isValue == true)
                                    {
                                        <h5>Valid</h5>
                                    }
                                    else
                                    {
                                        <h5 style="color: red">Invalid</h5>
                                    }
                            </td>*@
                            <td>@item.Name</td>
                            <td>@item.Value</td>
                            @*<td>@item.StrIDFood</td>*@
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary fa fa-edit" onclick='window.location.href = "@Url.Action("EditVoucher", "VoucherManagement", new {Id = item.Id })"'></button>
                                <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.Id))" class="btn btn-danger fa fa-remove" />
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("VoucherManagement", new { pageNo = pageNo }))
            </div>
        </div>
    </div>

    </div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/VoucherManagement/AddVoucher"
    }
    function btnConfirm(Id) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteVoucher", "VoucherManagement")?Id=' + Id;
            window.location.href = url;
        }
    }

</script>


