@model POS_Coffe.Models.DrinkCakeModel
@{
    ViewBag.Title = "AddDrinkCake";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Add Food</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("AddDrinkCake", "DrinkCake", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="name">Name</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="type">Type</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <h4>Drink Cake Variation</h4>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="sizeM">Size M</label>
                            <div class="col-sm-9">
                                <input type="checkbox" name="sizeM" id="sizeM" value="testM" onclick="CheckedSizeM()"/>
                            </div>
                        </div>
                    </div>

                    <div id="AddingSizeM" name="AddingSizeM" style="display:none">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="name1">Name variation</label>
                                <div class="col-sm-9">
                                    <input type="text" name="nameM" id="nameM" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="price">Price</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="priceM" id="priceM" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="description">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="descriptionM" id="descriptionM" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="sizeL">Size L</label>
                            <div class="col-sm-9">
                                <input type="checkbox" name="sizeL" id="sizeL" value="testL" onclick="CheckedSizeL()"/>
                            </div>
                        </div>
                    </div>

                    <div id="AddingSizeL" name="AddingSizeL" style="display:none">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="nameL">Name variation</label>
                                <div class="col-sm-9">
                                    <input type="text" name="nameL" id="nameL" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="price">Price</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="priceL" id="priceL" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="description">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="descriptionL" id="descriptionL" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="Type">Type</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

                    @*<div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="Picture">Picture</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.FoodImage, new { type = "file", accept = "~/Content/images" })
                        @Html.ValidationMessageFor(model => model.FoodImage)
                    </div>
                </div>
            </div>*@

                    @*<div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="Picture">Picture</label>
                    <div class="col-sm-9">
                        <input type="file" id="Picture" name="Picture" accept="image/*" class="form-control">
                    </div>
                </div>
            </div>*@


                    @*<input class="button-primary" type="submit" value="Save">*@
                    <input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Save" />
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                }
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<script charset="UTF-8">
    function GoBack() {
        window.location.href = "/DrinkCake/DrinkCakeManagement"

    }

    $(document).ready(function () {
        $(function () {
            $('#btnSaveChange').click(function () {
                var data = {
                    name: $('#name').val(),
                    type: $('#type').val(),
                    nameL: $('#name').val(),
                    nameM: $('#name').val(),
                    descriptionL: $('#descriptionL').val(),
                    descriptionM: $('#descriptionM').val(),
                    priceL: $('#priceL').val(),
                    priceM: $('#priceM').val(),
                }
                $.ajax({
                    type: "POST",
                    url: "/DrinkCake/AddDrinkCake",
                    data: data,
                    success: function (data) {
                        //GoBack();
                        alert('Success!')
                        location.reload();
                    },
                    error: function () {
                        alert('Fail!')
                    }
                })
            });
        });
    });

    function CheckedSizeL() {
        if ($('#sizeL').is(':checked')) {
            document.getElementById("AddingSizeL").style.display = "block";
        }
        else {
            document.getElementById("AddingSizeL").style.display = "none";
        }
    }

    function CheckedSizeM() {
        if ($('#sizeM').is(':checked')) {
            document.getElementById("AddingSizeM").style.display = "block";
        }
        else {
            document.getElementById("AddingSizeM").style.display = "none";
        }
    }



</script>

