@model List<POS_Coffe.Models.EmployeeModel>
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="row">
    <div class="column">
        @using (Html.BeginForm("ViewEmployee", "Employee", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
<a class="button" href="#">Search</a>
<input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />
}
        <div class="card">
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Permission</th>
                            <th>Birthday</th>
                            <th>Phone</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Permission</td>
                            <td>@item.Birthday</td>
                            <td>@item.Phone</td>
                            <td>@item.Username</td>
                            <td>
                                <button type="button" class="btn btn-primary " onclick='window.location.href = "@Url.Action("EditEmployee", "Employee", new {EmployeeID = item.EmployeeID })"'>  Edit </button>
                                <input type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.EmployeeID))" class="btn btn-danger" value="  Delete  " />
                            </td>
                        </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function AddNew() {
        window.location.href = "/Employee/AddEmployee"
    }
    function btnConfirm(EmployeeID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteEmployee", "Employee")?EmployeeID=' + EmployeeID;
            window.location.href = url;
        }
    }

</script>



