@model List<POS_Coffe.Models.EmployeeModel>
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    var i = 1;
}
<div class="row">
    <div class="column">
        @using (Html.BeginForm("ViewEmployee", "Employee", FormMethod.Get@*, new { @class = "form-inline" }*@))
        {
            <div class="form-check-label">
                <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
                <button type="submit" class="form-check-input search-btn fa fa-search"></button>

                <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()"></button>
            </div>
        }
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Permission</th>
                            <th>Birthday</th>
                            <th>Phone</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.EmployeeID</th>
                                <td>@item.Name</td>
                                <td>@item.Permission</td>
                                <td>@item.Birthday</td>
                                <td>@item.Phone</td>
                                <td>@item.Username</td>
                                <td style="text-align: center">
                                    <button type="button" class="btn btn-primary fa fa-edit" onclick='window.location.href = "@Url.Action("EditEmployee", "Employee", new {EmployeeID = item.EmployeeID })"'></button>
                                    <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.EmployeeID))" class="btn btn-danger fa fa-remove" value="  Delete  "></button>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function AddNew() {
        window.location.href = "/Employee/AddEmployee"
    }
    function btnConfirm(EmployeeID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteEmployee", "Employee")?EmployeeID=' + EmployeeID;
            window.location.href = url;
        }
    }

</script>



