@model PagedList<POS_Coffe.Models.EmployeeModel>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    var i = 1;
}
<div class="row">
    <div class="column">
        @using (Html.BeginForm("ViewEmployee", "Employee", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
    <div class="form-check-label">
        <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
        <button type="submit" class="form-check-input search-btn fa fa-search"></button>

        <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()"></button>
    </div>
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("Name", "ViewEmployee", new { sortOrder = ViewBag.NameSortParm })</th>
                            <th>Permission</th>
                            <th>@Html.ActionLink("Birthday", "ViewEmployee", new { sortOrder = ViewBag.DateSortParm })</th>
                            <th>Phone</th>
                            <th>Picture</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <th>@i</th>
                            <td>@item.Name</td>

                            @*<td>
                                @if (item.Permission == "ROLE_EMPLOYEE")
                                {
                                    <h5>Employee</h5>
                                }
                                else if (item.Permission == "ROLE_ADMIN")
                                {
                                    <h5>Admin</h5>
                                }
                                else if (item.Permission == "ROLE_MANAGER")
                                {
                                    <h5>Manager</h5>
                                }
                            </td>*@
                            <td>@item.Permission</td>
                            <td>@item.Birthday</td>
                            <td>@item.Phone</td>
                            <td style="text-align:center"> <img src=@item.Picture alt="profile photo" class="float-left profile-photo" width="120" height="auto"></td>
                            <td>@item.Username</td>
                            <td style="text-align: center">
                                <button type="button" class="btn btn-primary fa fa-edit" onclick='window.location.href = "@Url.Action("EditEmployee", "Employee", new {EmployeeID = item.EmployeeID })"'></button>
                                <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.EmployeeID))" class="btn btn-danger fa fa-remove" value="  Delete  "></button>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("ViewEmployee", new { pageNo = pageNo }))
            </div>
        </div>
    </div>
</div>

<script>
    function AddNew() {
        window.location.href = "/Employee/AddEmployee"
    }
    function btnConfirm(EmployeeID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteEmployee", "Employee")?EmployeeID=' + EmployeeID;
            window.location.href = url;
        }
    }

</script>



