@model POS_Coffe.Models.StatisticModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="~/Content/Table/Table.css" rel="stylesheet" />


<div class="card">
    <div class="card-block">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Voucher name</th>
                    <th>Table</th>
                    <th>Total Price</th>
                    <th>Discount Price</th>
                    <th>Customer Pay</th>
                    <th>Type Payment</th>
                    <th>Type Service</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Day.ToString("dd/MM/yyyy")</td>
                        <td>@Model.VoucherName</td>
                        <td>@Model.Table</td>
                        <td>@Model.TotalPrice</td>
                        <td>@Model.DiscountPrice</td>
                        <td>@Model.CustomerPay</td>
                        <td>@Model.TypePayment</td>
                        <td>@Model.TypeService</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
