@model List<POS_Coffe.Models.StatisticModel>
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int i = 1;
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("Index", "Statistic", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
@*<a class="button" href="#">Search</a>
    <input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />*@

        <div class="form-check-label">
            From date:
            <input type="date" class="form-check-input" name="FromDate" id="FromDate" />
            To date:
            <input type="date" class="form-check-input" name="ToDate" id="ToDate" />



            <input type="submit" value="Search" />
        </div>
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("FromDate", "Index", new { sortOrder = ViewBag.FromDateSortParm })</th>
                            <th>@Html.ActionLink("ToDate", "Index", new { sortOrder = ViewBag.ToDateSortParm })</th>
                            <th>VoucherName</th>
                            <th>Table</th>
                            <th>@Html.ActionLink("TotalPrice", "Index", new { sortOrder = ViewBag.TotalPriceSortParm })</th>
                            <th>@Html.ActionLink("DiscountPrice", "Index", new { sortOrder = ViewBag.DiscountPriceSortParm })</th>
                            <th>@Html.ActionLink("CustomerPay", "Index", new { sortOrder = ViewBag.CustomerPaySortParm })</th>
                            <th>TypePayment</th>
                            <th>TypeService</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@i</th>
                                    <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ToDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.VoucherName</td>
                                    <td>@item.Table</td>
                                    <td>@item.TotalPrice</td>
                                    <td>@item.DiscountPrice</td>
                                    <td>@item.CustomerPay</td>
                                    <td>@item.TypePayment</td>
                                    <td>@item.TypeService</td>
                                   
                                </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Sales/AddMaterial"
    }
    function btnConfirm(MaterialID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteMaterial", "Material")?MaterialID=' + MaterialID;
            window.location.href = url;
        }
    }
</script>



