@model List<POS_Coffe.Models.ReceiptModel>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int counting = 1;
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("Index", "Statistic", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
@*<a class="button" href="#">Search</a>
    <input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />*@

        <div class="form-check-label">
            <h2 style="margin-top: -100px; font-weight:700 ; color:saddlebrown ; margin-left:40px">STATICTICS</h2>
            Day:
            <input style="border-radius: 10px; border-width:2px; padding:5px ; margin-right:20px" type="date" class="form-check-input" name="daytime" id="daytime" />

            <button type="submit" value="Search" class="btn fa fa-search"></button>
            Filter:
            <select class="form-check-input">
                <option disabled selected>--none--</option>
                <option>Day</option>
                <option>Month</option>
                <option>Year</option>
            </select>
            <button type="submit" value="Apply" class="btn fa fa-filter"></button>
        </div>
<div class="form-check-label">

    <h4 class="form-check-input" style="color: palevioletred">Customer pay: @ViewBag.Count vnd</h4>
</div>
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>

                            @*<th>@Html.ActionLink("FromDate", "Index", new { sortOrder = ViewBag.FromDateSortParm })</th>*@
                            <th>@Html.ActionLink("Day", "Index", new { sortOrder = ViewBag.ToDateSortParm })</th>
                            @*<th>VoucherName</th>
                                <th>Table</th>*@
                            <th>@Html.ActionLink("Month", "Index", new { sortOrder = ViewBag.TotalPriceSortParm })</th>
                            <th>@Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.DiscountPriceSortParm })</th>
                            <th>@Html.ActionLink("Receipt Total", "Index", new { sortOrder = ViewBag.CustomerPaySortParm })</th>
                            <th>@Html.ActionLink("Revenue", "Index", new { sortOrder = ViewBag.CustomerPaySortParm })</th>

                            @*<th>TypePayment</th>
                                <th>TypeService</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.name</td>
                                <td>@item.PaymentType</td>
                                <td>@item.CustomerPay</td>
                                <td>@item.Voucher</td>
                                <td>@item.ServiceType</td>
                                <td>
                                    @*<button type="button" class="btn btn-primary fa fa-sticky-note" onclick='window.location.href = "@Url.Action("GetDetails", "Statistic", new { id = item.id})"'></button>*@
                                    @*<button type="button" class="btn btn-primary fa fa-sticky-note" onclick="changeStatus(@counting)"></button>*@
                                </td>
                            </tr>


                        }
                    </tbody>
                </table>

            </div>

        </div>


    </div>
</div>

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Sales/AddMaterial"
    }
    function btnConfirm(MaterialID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteMaterial", "Material")?MaterialID=' + MaterialID;
            window.location.href = url;
        }
    }

    function changeStatus(counting) {
        if (document.getElementById(counting).style.display == "none") {
            document.getElementById(counting).style.display = "block";
        }
        else if (document.getElementById(counting).style.display == "block") {
            document.getElementById(counting).style.display = "none";
        }
    }
</script>


@*//if (value != 0 && IDFood != "--none--") {
        //    document.getElementById("error").style.display = "block"
        //    return false;
        //}
        //if ($('#Value').val() < 0 || $('#Value').val() > 100) {
        //    document.getElementById("error").style.display = "block"
        //    return false;
        //}
    })

    //$('#StrIDFood').click(function () {
    //    document.getElementById("error").style.display = "none"
    //})

    //$('#Value').click(function () {
    //    document.getElementById("error").style.display = "none"
    //})*@


