@model PagedList<POS_Coffe.Models.BranchModel>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row">
    <div class="column">
        <div class="column column-30">
            <div class="user-section">
                <h4 style="padding-left:10px; font-weight:bold">BRANCH MANAGEMENT</h4>
            </div>
        </div>
        @using (Html.BeginForm("BranchManagement", "Branch", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
<div class="form-check-label">
    <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
    <button type="submit" value="Search" class="form-check-input search-btn fa fa-search"></button>
    <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()" />
</div>
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Branch name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.branchName</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-primary fa fa-edit" onclick='window.location.href = "@Url.Action("EditBranch", "Branch", new {id = item.id })"'> </button>
                                    <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.id))" class="btn btn-info fa fa-remove" style="background-color: #FF3131" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
                <div class="pagination ali">
                    @Html.PagedListPager(Model, pageNo => Url.Action("BranchManagement", new { pageNo = pageNo }))
                </div>
            </div>
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Branch/AddBranch"
    }
    function btnConfirm(id) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteBranch", "Branch")?id=' + id;
            window.location.href = url;
        }
    }

</script>

