@model POS_Coffe.Models.HistoryTrackingModel
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="row">
    <div class="column">
        <div class="card">
            <div class="card-block">
                @*<div class="site-title"><h4 style="font-weight:bold">@Model.name</h4></div>*@
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Occur time</th>
                            <th>Permission</th>
                            <th>Birthday</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Username</th>
                            <th>Action type</th>
                            <th>Table effected</th>
                        </tr>
                    </thead>
                    <tbody>


                            <tr>
                                <td>@Model.employee.name</td>
                                <td>@Model.occurTime</td>
                                <td>@Model.employee.permission</td>
                                <td>@Model.employee.birthday</td>
                                <td>@Model.employee.phone</td>
                                <td>@Model.employee.address</td>
                                <td>@Model.employee.username</td>
                                <td>@Model.actionType</td>
                                <td>@Model.table</td>
                            </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
