@model PagedList<POS_Coffe.Models.HistoryTrackingModel>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "IndexOfHistoryTracking";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int i = 1;
}

<div class="row">
    <div class="column">
        @using (Html.BeginForm("indexOfHistoryTracking", "HisToryTracking", FormMethod.Get@*, new { @class = "form-inline" }*@))
        {
        <div class="form-check-label">
            <h2 style="margin-top: -100px; color: saddlebrown; font-weight: 700; margin-left: 40px">HISTORY TRACKING MANAGEMENT</h2>
            From Day:
            <input style="border-radius: 10px; border-width:2px; padding:5px ; margin-right:20px" type="date" class="form-check-input" name="fromday" id="fromday" value="@ViewBag.fromday" />
            To Day:
            <input style="border-radius: 10px; border-width:2px; padding:5px ; margin-right:20px" type="date" class="form-check-input" name="today" id="today" value="@ViewBag.today" />

            Filter:
            <select class="form-check-input" name="filterValue" id="filterValue">
                <option disabled selected value="NONE">--none--</option>
                <option value="CUSTOMER">CUSTOMER</option>
                <option value="ADMIN">ADMIN</option>
                <option value="RECEIPT">RECEIPT</option>
                <option value="EMPLOYEE">EMPLOYEE</option>

            </select>
            <button type="submit" value="Apply" class="btn fa fa-filter"></button>
        </div>
        }
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>OccurTime</th>
                            <th>Action type</th>
                            <th>Table Effect</th>
                            <th></th>
                        </tr>
                        @{i = 1;}
                    <thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.occurTime</td>
                                <td>@item.actionType</td>
                                <td>@item.table</td>
                                <td>
                                    <button type="button" class="btn btn-primary fa fa-info-circle" onclick='window.location.href = "@Url.Action("Details", "HistoryTracking", new { id = item.id })"'> </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("IndexOfHistoryTracking", new { pageNo = pageNo }))
            </div>
        </div>
    </div>
        </div>

<script>



</script>

