@model POS_Coffe.Models.RecipeModel
@{
    ViewBag.Title = "AddRecipe";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
<script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Add recipe</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("AddRecipe", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="name">DrinkCake name</label>
                            <div class="col-sm-9">
                                <select name="DrinkCakeDropdown" id="DrinkCakeDropdown" @*onchange="SelectDropdown()*@>
                                    @foreach (var item in ViewBag.LstDrinkCake)
                                    {
                                        <option>@item.name</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>

                    <div id="AddingSizeM" name="AddingSizeM">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="amountForOneM">Amount For One</label>
                                <div class="col-sm-9">
                                    <input type="text" name="amountForOneM" id="amountForOneM" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="materialId">Material</label>
                                <div class="col-sm-9">
                                    <select name="MaterialM" id="MaterialM">
                                        @foreach(var item in ViewBag.LstMaterial)
                                            {
                                                <option value="@item.id">@item.name</option>
                                            }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="sizeL">Size L</label>
                            <div class="col-sm-9">
                                <input type="checkbox" name="sizeL" id="sizeL" value="testL" onclick="CheckedSizeL()" />
                            </div>
                        </div>
                    </div>

                    <div id="AddingSizeL" name="AddingSizeL">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="amountForOneL">Amount For One</label>
                                <div class="col-sm-9">
                                    <input type="text" name="amountForOneL" id="amountForOneL" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="materialId">Material</label>
                                <div class="col-sm-9">
                                    <select name="MaterialL" id="MaterialL">
                                        @foreach (var item in ViewBag.LstMaterial)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input class="button-primary" type="submit" value="Create recipe" name="btnSaveChange" id="btnSaveChange">
                    @*<input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Add" />*@
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                }
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<script>
    function GoBack() {
        window.location.href = "/Recipe/RecipeManagement"
    }

    $("#Material").multipleSelect({
        filter: true
    });

    //$(document).ready(function () {
    //    $(function () {
    //        $('#btnSaveChange').click(function () {
    //            var data = {
    //                amountForOneM: $("#amountForOneM").val(),
    //                amountForOneL: $("#amountForOneL").val(),
    //                MaterialM: $("#MaterialM").val(),
    //                MaterialL: $("#MaterialL").val(),
    //            }
    //            $.ajax({
    //                type: "POST",
    //                url: "/Recipe/AddRecipe",
    //                data: data,
    //                success: function (data) {
    //                    alert('Success!')
    //                    location.reload();
    //                },
    //                error: function () {
    //                    alert('Fail!')
    //                }
    //            })
    //        });
    //    });
    //});

    $(document).ready(function () {
        $(function () {
            $('#DrinkCakeDropdown').change(function () {
                var data = {
                    DrinkCakeDropdown: $('#DrinkCakeDropdown option:selected').text()
                };
                $.ajax({
                    type: 'POST',
                    url: "/Recipe/getDrinkVariation",
                    data: data,
                    success: function (data) {
                        $("#DrinkCakeVaritaion").empty();
                        
                        $.each(data, function (i, data) {
                            /*$("#DrinkCakeVaritaion").append("<option value="+data.id+">" + data.name +"</option>")*/
                            $("#IDVAR").appen("<p>"+data.id + data.name+"</p>")
                        })
                    }
                })
            })
        })
    })
</script>