@model POS_Coffe.Models.RecipeModel
@{
    ViewBag.Title = "AddRecipe";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
<script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Add recipe</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("AddRecipe", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="FoodName">Food name</label>
                            <div class="col-sm-9">
                                <select id="Food" name="Food">
                                    @foreach (var item in ViewBag.Food)
                                    {
                                        <option value="@item.FoodID">@item.FoodName</option>
                                    }
                                    @Html.ValidationMessageFor(model => model.Drink_Cake_ID, "")
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Material">Material</label>
                            <div class="col-sm-9">
                                <select id="Material" name="Material" multiple>
                                    @foreach (var item in ViewBag.Materials)
                                    {
                                        <option value="@item.MaterialID">@item.Name</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="Type">Type</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    @*<div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="Picture">Picture</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FoodImage, new { type = "file", accept = "~/Content/images" })
                                    @Html.ValidationMessageFor(model => model.FoodImage)
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="Picture">Picture</label>
                                <div class="col-sm-9">
                                    <input type="file" id="Picture" name="Picture" accept="image/*" class="form-control">
                                </div>
                            </div>
                        </div>*@


                    <input class="button-primary" type="submit" value="Create recipe">
                    @*<input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Add" />*@
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                }
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<script>
    function GoBack() {
        window.location.href = "/Recipe/RecipeManagement"

    }

    $("#Material").multipleSelect({
        filter: true
    });
</script>