@model POS_Coffe.Models.RecipeModel
@{
    ViewBag.Title = "EditRecipe";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<style>
    .user-section {
        margin-top: -50px;
        margin-right: 40px;
    }
</style>

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Update Recipe</h3>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("EditRecipe", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*@Html.HiddenFor(s => s.id)
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="name">Name</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.drinkCakeVariation.name, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.drinkCakeVariation.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="permission">Permission</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="permission" id="permission" value="@ViewBag.permission">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="EMPLOYEE">EMPLOYEE</option>
                                    <option value="MANAGER">MANAGER</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.permission, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    @*<div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="birthday">Birthday</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.birthday, new { @type = "date", htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="phone">Phone</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="address">Address</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="username">Username</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="password">Password</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    <input class="button-primary" type="submit" value="Save">
                    @*<input class="btn btn-primary" type="button" name="btnSaveChange" id="btnSaveChange" value="Add" />*@
                    <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#birthday").datepicker({
            dateFormat: "mm/dd/yy"
        });
    });

    function GoBack() {
        window.location.href = "/Employee/ViewEmployee"
    }
                //$(function () {
                //    $("#TuNgayStr").datepicker({
                //        dateFormat: "dd/mm/yy"
                //    });
                //    $("#DenNgayStr").datepicker({
                //        dateFormat: "dd/mm/yy"
                //    });
                //});

/*                $('.select2').select2({ width: '100%' },"val", null)*/

                @*<!--$(document).ready(function () {
                    $(function () {
                        $('#btnSave').click(function () {
                            var dataGuidi = {-->
                                EmployeeID: @Model.EmployeeID,
                                <!--Name: $('#Name').val(),
                                Username: $('#Username').val(),
                                Permission: $('#Permission').val(),
                                Birthday: $('#Birthday').val(),
                                Phone: $('#Phone').val(),
                            };
                            $.ajax({
                                type: "POST",
                                url: "/Employee/EditEmployee",
                                data: dataGuidi,
                                success: function (dataGuidi) {
                                    alert('OK!');
                                    Redirect();
                                },
                                error: function () {
                                    alert('Fail!');
                                }
                            })
                        });
                    });
                });-->*@

                //function Redirect() {
                //    window.location.href = "/NhapDuAn/XemDuAn"
                //}
</script>

