@model List<POS_Coffe.Models.RecipeModel>
@{
    ViewBag.Title = "RecipeManagement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<div class="row">
    <div class="column">
        @using (Html.BeginForm("FoodManagement", "FoodManagement", FormMethod.Get))
        {
            <div class="form-check-label">

                <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
                <button type="submit" value="Search" class="form-check-input search-btn fa fa-search fa fa-search"></button>
                <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()" />
            </div>
        }
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead class="header-style">
                        <tr>
                            <th>Name Material</th>
                            <th>Type</th>
                            <th>Unit</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            foreach (var data in item.recipeDetails)
                            {
                                <tr class="items-style">
                                    <td>@data.material.name</td>
                                    <td>@data.material.type</td>
                                    <td>@data.material.unit</td>
                                    <td>@data.material.amount</td>
                                    <td style="text-align:center">
                                        @*<button type="button" class="btn btn-primary fa fa-sticky-note" onclick='window.location.href = "@Url.Action("Details", "FoodManagement", new {FoodID = item.FoodID })"'> </button>*@
                                        @*<button type="button" class="btn btn-primary fa fa-sticky-note" onclick="changeStatus(@counting)"></button>*@
                                        @*<button type="button" class="btn btn-primary fa fa-edit " onclick='window.location.href = "@Url.Action("EditRecipe", "RecipeManagement", new {id = item.id })"'></button>*@
                                        <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.id))" class="btn btn-danger fa fa-remove" />
                                    </td>
                                </tr>
                            }
                            @*Display Food*@



                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("FoodManagement", new { pageNo = pageNo }))
            </div>
        </div>*@
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Recipe/AddRecipe"
    }
    function btnConfirm(id) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteRecipe", "RecipeManagement")?id=' + id;
            window.location.href = url;
        }
    }



    //function changeStatus(counting) {
    //    if (document.getElementById(counting).style.display == "none") {
    //        document.getElementById(counting).style.display = "block";
    //    }
    //    else if (document.getElementById(counting).style.display == "block") {
    //        document.getElementById(counting).style.display = "none";
    //    }
    //}
</script>