@*@model List<POS_Coffe.Models.MaterialsModel>*@
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="row">
    <div class="column">
        @using (Html.BeginForm("MaterialManagement", "Material", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
<a class="button" href="#">Search</a>
<input type="button" class="btn btn-gradient-success " value="Add new" onclick="AddNew()" />
}
        <div class="card">
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Type</td>
                                <td>@item.Amount</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <button type="button" class="btn btn-primary " onclick='window.location.href = "@Url.Action("EditEmployee", "Employee", new {MaterialID = item.MaterialID })"'>  Edit </button>
                                    <input type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.MaterialID))" class="btn btn-danger" value="  Delete  " />
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Material/AddMaterial"
    }
    function btnConfirm(MaterialID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteMaterial", "Material")?MaterialID=' + MaterialID;
            window.location.href = url;
        }
    }

</script>



