@model PagedList<POS_Coffe.Models.MaterialsModel>
@using PagedList
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="row">
    <div class="column">
        @using (Html.BeginForm("MaterialManagement", "Material", FormMethod.Get@*, new { @class = "form-inline" }*@))
{
    <div class="form-check-label">
        <input class="form-control input-control-width" type="text" id="StringSearch" name="StringSearch" />
        <button type="submit" value="Search" class="form-check-input search-btn fa fa-search"></button>
        <button type="button" class="form-check-input btn btn-gradient-success fa fa-plus" value="Add new" onclick="AddNew()" />
    </div>
}
        <div class="card">
            <div class="card-block">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("Name", "MaterialManagement", new { sortOrder = ViewBag.NameSortParm })</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.MaterialID</th>
                                <td>@item.Name</td>
                                <td>@item.Type</td>
                                <td>@item.Amount</td>
                                <td>@item.Quantity</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-primary fa fa-edit" onclick='window.location.href = "@Url.Action("EditMaterial", "Material", new {MaterialID = item.MaterialID })"'> </button>
                                    <button type="button" onclick="btnConfirm(@Html.DisplayFor(modelItem => item.MaterialID))" class="btn btn-danger fa fa-remove" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column" style="text-align:center; display:inline-block">
            <div class="pagination ali">
                @Html.PagedListPager(Model, pageNo => Url.Action("MaterialManagement", new { pageNo = pageNo }))
            </div>
        </div>
    </div>
</div>

<script>
    function AddNew() {
        console.log()
        window.location.href = "/Material/AddMaterial"
    }
    function btnConfirm(FoodID) {
        if (confirm('Do you want to delete ?')) {
            var url = '@Url.Action("DeleteMaterial", "Material")?MaterialID=' + MaterialID;
            window.location.href = url;
        }
    }

</script>



